:root {
  --tiny-space: 6px;
  --font-size: 16px;
  --Field_padding: 22px;
  --Field_changed-width: 4px;
  --button_border-width: 2px;
}

@media (max-width: 1199px) {
  :root {
    --Field_padding: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

html {
  background-color: lightgrey;
  color: black;
  font-family: system-ui;
  font-size: var(--font-size);
  line-height: 1.25;
}

html.firefox {
  font: menu;
  font-size: var(--font-size);
}

body {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}

input,
button,
select,
textarea {
  min-width: 0;
  margin: 0;
  padding: 0.125em 0.375em;
  border: 1px solid darkgrey;
  border-radius: 0;
  background: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  transition: border-color 200ms;
  outline: none;
}

input:not(:disabled):hover,
button:not(:disabled):hover,
select:not(:disabled):hover,
textarea:not(:disabled):hover,
input:not(:disabled):focus,
button:not(:disabled):focus,
select:not(:disabled):focus,
textarea:not(:disabled):focus {
  border-color: blue;
}

input:disabled,
button:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
  padding: 0;
  border: none;
}

input.is-readonly,
button.is-readonly,
select.is-readonly,
textarea.is-readonly {
  font-style: italic;
}

input[type="checkbox"],
input[type="radio"] {
  --size: 1.25em;
  width: var(--size);
  height: var(--size);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 7.5'><polyline points='1,3 4,6 9,1' fill='none' stroke='%232b4eed' stroke-width='2' /></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

input[type="radio"] {
  border-radius: 50%;
  padding: 2px;
  background-clip: content-box;
}

input[type="radio"]:checked {
  background-color: blue;
}

button {
  border-width: var(--button_border-width);
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'><polyline points='1,1 3,3 5,1' fill='none' stroke='%23777' /></svg>");
  background-repeat: no-repeat;
  background-position: right 0.375em center;
  background-size: auto 0.75em;
  padding-right: 1.875em;
}

textarea {
  width: 100%;
  resize: vertical;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

label {
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}

p + p {
  margin-top: 5px;
}

kbd {
  display: inline-block;
  min-width: 1.6em;
  padding: 0 4px;
  border: 2px solid darkgrey;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  font-size: 0.8em;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
}

code {
  display: inline-block;
  padding: 0 4px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: lightgrey;
  font-size: 0.8em;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

.Layout {
  margin: 15px;
}

.Layout-sidebar {
  margin-top: var(--Field_padding);
}

.Layout-sidebar > * + * {
  margin-top: var(--Field_padding);
}

@media (min-width: 1020px) {
  .Layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 15px;
  }

  .Layout-main {
    max-width: 800px;
  }

  .Layout-sidebar {
    width: 320px;
    margin-top: 0;
    position: sticky;
    top: var(--Field_padding);
    margin-left: var(--Field_padding);
  }
}

.Paper {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.Field {
  --border-width: 1px;
  border-top: var(--border-width) solid grey;
  padding: var(--Field_padding);
  position: relative;
}

.Field:first-child {
  border-top: none;
}

.Field::before,
.Field::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--border-width));
  bottom: calc(-1 * var(--border-width));
  left: 0;
  width: var(--Field_changed-width);
  background-color: blue;
  opacity: 0;
  transition: opacity 200ms;
}

.Field::after {
  left: auto;
  right: 0;
}

.Field:first-child::before,
.Field:first-child::after {
  top: 0;
}

.Field:last-child::before,
.Field:last-child::after {
  bottom: 0;
}

.Field.is-changed,
.Field.is-changedRight {
  z-index: 1;
}

.Field.is-changed::before,
.Field.is-changedRight::after {
  opacity: 1;
}

/* This CSS only supports connecting two fields. */
.Field:first-child.is-connected,
.Field:not(.is-connected) + .Field.is-connected {
  padding-bottom: calc(var(--Field_padding) / 2);
}

.Field.is-connected + .Field.is-connected {
  border-top: none;
  padding-top: calc(var(--Field_padding) / 2);
}

.Field:first-child.is-connected::before,
.Field:first-child.is-connected::after,
.Field:not(.is-connected) + .Field.is-connected::before,
.Field:not(.is-connected) + .Field.is-connected::after {
  bottom: 0;
}

.Field.is-connected + .Field.is-connected::before,
.Field.is-connected + .Field.is-connected::after {
  top: 0;
}

.Field.is-fullWidth {
  padding-left: 0;
  padding-right: 0;
}

.Field-label {
  display: block;
  padding-bottom: var(--tiny-space);
  margin-top: -3px;
  line-height: 1;
  font-weight: bold;
}

.Field.is-fullWidth .Field-label {
  padding-left: var(--Field_padding);
  padding-right: var(--Field_padding);
}

.Field.is-connected + .Field.is-connected .Field-label {
  margin-top: 0;
}

.Field-resetButton {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}

.Field-description {
  margin-bottom: -2px;
}

.Field.is-fullWidth .Field-description {
  padding-left: var(--Field_padding);
  padding-right: var(--Field_padding);
}

.TextSmall {
  font-size: 14px;
}

.Error {
  color: red;
  font-weight: bold;
}

.Error a {
  color: inherit;
  text-decoration: underline;
}

.Attachment {
  display: flex;
  position: relative;
}

.Attachment-content {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
}

.TinyLabel {
  padding-bottom: var(--tiny-space);
  font-size: 12px;
}

.Spaced {
  display: flex;
}

.Spaced > * + * {
  margin-left: 0.625em;
}

.Spaced--center {
  align-items: center;
}

.Spaced--end {
  align-items: flex-end;
}

.SpacedVertical {
  display: flex;
  flex-direction: column;
}

.SpacedVertical > * + * {
  margin-top: 10px;
}

.SpacedVertical--large > * + * {
  margin-top: var(--Field_padding);
}

.ShrinkwrapChildren {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .TestLinks {} */

.TestLinks-grid {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(3, 1fr);
  grid-auto-flow: column;
  grid-gap: 4px;
}

.TestLinks-pagination {
  font-size: 12px;
  justify-content: center;
}

.TestLink {
  outline: none;
}

.TestLink.is-clicked {
  font-weight: bold;
  color: inherit;
}

.KeypressTable {
  table-layout: fixed;
  border-spacing: 0;
  border: 1px solid darkgrey;
  padding: 2px 0;
  width: 100%;
}

.KeypressTable th {
  text-align: left;
}

.KeypressTable td,
.KeypressTable th {
  padding: 2px 8px;
}

.KeysTable {
  border: 1px solid darkgrey;
  width: 100%;
  height: 310px;
  overflow-y: auto;
}

.KeysTable.is-disabled {
  opacity: 0.5;
}

.KeysTable table {
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.KeysTable thead th {
  position: sticky;
  top: 0;
  background-color: grey;
  text-align: left;
  font-weight: normal;
}

.KeysTable td,
.KeysTable th {
  padding: 0;
  padding-right: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.KeysTable td:first-child,
.KeysTable th:first-child {
  padding-left: 9px;
  width: 50%;
}

.KeysTable td:last-child,
.KeysTable th:last-child {
  width: 20px;
  padding: 0;
}

.KeysTable td:last-child button {
  width: 100%;
}

.KeysTable tbody tr:nth-child(even) td {
  background-color: lightgrey;
}

.KeysTable tbody tr.is-animated td {
  animation: Highlight 1000ms ease-out forwards;
}

@keyframes Highlight {
  from,
  20% {
    box-shadow: inset 0 0 0 99px blue;
    color: white;
  }

  to {
    box-shadow: inset 0 0 0 99px transparent;
    color: inherit;
  }
}

.KeysTable td.is-changed {
  background-image: linear-gradient(to right, blue 3px, transparent 0);
}

.RemoveButton {
  --size: 20px;
  all: unset;
  text-align: center;
  min-width: var(--size);
  font-size: var(--size);
  line-height: 1;
  cursor: pointer;
}

.RemoveButton:hover,
.RemoveButton:focus {
  color: blue;
}

.AddShortcutButton {
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  flex-shrink: 0;
}

.AddShortcutButton-button {
  --size: 28px;
  width: var(--size);
  height: var(--size);
  padding: 0;
  line-height: 0;
}

.ShortcutsTable {
  table-layout: fixed;
  border-spacing: 0;
  width: 100%;
}

.ShortcutsTable td,
.ShortcutsTable th {
  padding: 3px;
  padding-left: 5px;
  vertical-align: top;
}

.ShortcutsTable th {
  padding-top: 6px;
  padding-left: calc(var(--Field_padding) - var(--Field_changed-width));
  border-left: var(--Field_changed-width) solid transparent;
  width: calc(50%);
  font-weight: normal;
  text-align: left;
  transition: border-color 200ms;
}

.ShortcutsTable th.is-changed {
  border-left-color: blue;
}

.ShortcutsTable td {
  padding-right: var(--Field_padding);
}

.ShortcutsTable tbody tr:nth-child(odd) td,
.ShortcutsTable tbody tr:nth-child(odd) th {
  background-color: lightgrey;
}

.ShortcutsGrid {
  --spacing-vertical: 3px;
  --spacing-horizontal: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--spacing-vertical))
    calc(-1 * var(--spacing-horizontal));
  width: 100%;
}

.ShortcutsGrid > * {
  flex: 1 1 50%;
  display: flex;
  padding: var(--spacing-vertical) var(--spacing-horizontal);
}

.Preview {
  position: relative;
  border: 1px solid darkgrey;
  overflow: auto;
}

.KeyboardShortcut {
  white-space: nowrap;
}

.KeyboardShortcut > * + * {
  margin-left: 1px;
}

.ButtonWithPopup {
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.ButtonWithPopup.is-open .ButtonWithPopup-button {
  position: relative;
  z-index: 2;
  border-color: blue;
}

.ButtonWithPopup.is-open .ButtonWithPopup-button::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: var(--button_border-width);
  background-color: white;
}

.ButtonWithPopup-popup {
  position: absolute;
  z-index: 1;
  top: calc(100% - var(--button_border-width));
  right: 0;
  min-width: 100%;
  border: var(--button_border-width) solid blue;
  background-color: white;
  padding: 24px;
  font-size: 1rem;
}

.ErrorsSpacing {
  height: var(--Field_padding);
}

.Errors {
  padding: var(--Field_padding);
  padding-top: 0;
  background-color: red;
}

.ErrorsHeading {
  display: flex;
  position: sticky;
  bottom: 0;
  background-color: red;
}

.ErrorsHeading-link {
  flex-grow: 1;
  padding: var(--Field_padding) var(--Field_padding);
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.ErrorsHeading-removeButton {
  width: 50px;
  font-size: 28px;
}

.Intro {
  padding: 18px var(--Field_padding);
}

.PerfTable {
  border-spacing: 0;
  width: 100%;
}

.PerfTable caption button {
  all: unset;
  padding: 0 var(--Field_padding);
  width: 100%;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.PerfTable th,
.PerfTable td {
  text-align: right;
  font-weight: normal;
  padding: 2px 0;
  padding-right: 5px;
}

.PerfTable th:first-child,
.PerfTable td:first-child {
  padding-left: var(--Field_padding);
  text-align: left;
}

.PerfTable th:last-child,
.PerfTable td:last-child {
  padding-right: var(--Field_padding);
}

.PerfTable thead th,
.PerfTable th:only-child {
  padding-top: 10px;
  font-weight: bold;
}

.PerfTable thead th:not(:first-child) {
  --width: 50px;
  width: var(--width);
}

.PerfTable thead th:last-child {
  width: calc(var(--width) + var(--Field_padding));
}

.PerfTable-alternate {
  background-color: lightgrey;
}

.PerfTable [title] {
  border-bottom: 1px dotted currentColor;
}

.Details-button {
  border-left: none;
  border-right: none;
  padding-left: var(--Field_padding);
  padding-right: var(--Field_padding);
  width: 100%;
  text-align: left;
}

.Toggle {
  position: relative;
}

.Toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--Field_padding);
  height: 100%;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 4'><polyline points='1,1 3,3 5,1' fill='none' stroke='%23777' /></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.75em;
  transition: transform 200ms;
}

.Toggle.is-open::before {
  transform: rotate(180deg);
}

.Branding {
  display: flex;
  align-items: center;
  padding: var(--Field_padding);
}

.Branding-image {
  flex-shrink: 0;
  margin-right: var(--Field_padding);
}

.Branding-name {
  font-weight: bold;
}
