:root {
  --grey-leia: #fafafa;
  --grey-luke: #ddd;
  --blue: #2b4eed;
  --tiny-space: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

html {
  background-color: var(--grey-leia);
  color: black;
  font-family: system-ui;
}

html.firefox {
  font: menu;
}

body {
  max-width: 800px;
  margin: 50px auto;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-heigth: 1.2;
}

input,
button,
select,
textarea {
  min-width: 0;
  margin: 0;
  padding: 2px 4px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  resize: vertical;
}

input.is-readonly,
button.is-readonly,
select.is-readonly,
textarea.is-readonly {
  font-style: italic;
}

input[type="checkbox"] {
  --size: 1em;
  width: var(--size);
  height: var(--size);
}

textarea {
  width: 100%;
  font-size: 0.8em;
}

label {
  margin: 0;
  font-weight: inherit;
}

p {
  margin: 0;
}

p + p {
  margin-top: 5px;
}

kbd {
  padding: 0 4px;
  border: 2px solid var(--grey-luke);
  border-radius: 3px;
  font-size: 0.8em;
  font-family: inherit;
}

.Field {
  --border-width: 1px;
  border-top: var(--border-width) solid var(--grey-luke);
  padding: 18px 22px;
  position: relative;
}

.Field:first-child {
  border-top: none;
}

.Field::before,
.Field::after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--border-width));
  bottom: calc(-1 * var(--border-width));
  left: 0;
  width: 4px;
  background-color: var(--blue);
  opacity: 0;
  transition: opacity 200ms;
}

.Field::after {
  left: auto;
  right: 0;
}

.Field:first-child::before,
.Field:first-child::after {
  top: 0;
}

.Field:last-child::before,
.Field:last-child::after {
  bottom: 0;
}

.Field.is-changed,
.Field.is-changedRight {
  z-index: 1;
}

.Field.is-changed::before,
.Field.is-changedRight::after {
  opacity: 1;
}

.Field-label {
  display: block;
  padding-bottom: var(--tiny-space);
  font-weight: bold;
}

.Field-description {
  margin-top: 10px;
  font-size: 14px;
}

.Attachment {
  display: inline-flex;
  position: relative;
}

.Attachment-content {
  position: absolute;
  left: 0;
  bottom: 100%;
}

.TinyLabel {
  padding-bottom: var(--tiny-space);
  font-size: 12px;
}

.Spaced {
  display: flex;
}

.Spaced > * + * {
  margin-left: 0.625em;
}

.Spaced--center {
  align-items: center;
}

.Preview {
  position: relative;
  border: 1px solid var(--grey-luke);
  overflow: auto;
}
