html {
  box-sizing: border-box;
  width: 300px;
  height: 120px;
  min-height: 0;
  border: 10px solid black;
  padding: 15px;
  position: relative;
  left: 100px;
  margin-top: 100px;
}

body {
  width: 10px;
  height: 10px;
  min-height: 0;
  border: 4px solid red;
}

.outside {
  position: absolute;
  top: 100%;
  left: 100%;
  margin: 50px;
}

body > p:first-child {
  position: fixed;
  top: 0;
  left: 1em;
}
