name: CI

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Cache node_modules
        id: cache-node_modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: node_modules-${{ hashFiles('package-lock.json') }}

      - name: npm ci
        if: steps.cache-node_modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: ESLint
        run: npx --no-install eslint . --report-unused-disable-directives

      - name: Prettier
        run: npx --no-install prettier --check .

      - name: TypeScript
        run: npx --no-install tsc

      - name: Build Chrome
        run: npm run build:chrome

      - name: Build Firefox
        run: npm run build:firefox

      - name: gh-pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: compiled-docs
          single-commit: true
